body {
    background: #B0C4DE;
    color: #666;
}

#container {
    width: 930px;
    padding: 15px;
    -moz-border-radius: 13px;
    background: #fff;
    margin: 10px auto;
    overflow: auto;
}

#title {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 25px;
    margin: 10px 0;
}

#content {
    width: 930px;
    overflow: auto;
}

#header {
    width: 930px;
    height: 55px;
}

#logo img {
    margin: 15px;
    float: left;
    width: 100px;
}

#toplinks {
    float: right;
    color: #999;
    margin: 0;
    padding: 0;
    list-style: none;

}

#toplinks p {
    float: right;
    margin: 3px 0 0 10px;
    color: #999;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    border-color: #4CAF50;


}
#toplinks input{
     font: bold 12px/24px arial, helvetica, sans-aerif;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #666;
    background: #B0C4DE;
    width: 120px;
    height: 24px;
    display: block;
    
}
#toplinks input:hover {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background: #5F9EA0;
    width: 120px;
    height: 24px;
    display: block;
}
#msg {
    resize: none;
}

#button {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #666;
    background: #B0C4DE;
    width: 120px;
    height: 24px;
    display: block;
}
#button:hover {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background: #5F9EA0;
    width: 120px;
    height: 24px;
    display: block;
}

#pic img {
    float: none;
    max-width: 100px
}

#mainbox {
    width: px;
    padding: 20px;
    background: #f7f7f7;
    float: left;
    -moz-border-radius: 10px;
}


#mainbox p {
    margin: 1;
    padding: 0;
    text-align: justify;
    text-indent: 30px;
}

#mainbox h5 {
    font-size: 25px;
    color: #006C91;
    line-height: 1;
    text-align: center;
}

#mainbox h6 b {
    font-size: 18px;
    color: #006C91;
    line-height: 1;
}

#mainbox h6 {
    margin-bottom: 2px;
    padding: 0;
    line-height: 1;
}

#questionario {
    float: right;
}

#mainbox ul {
    margin-top: 15px;
    line-height: 1.5em;
}
#formEnvio{    
    display: inline-block;
    width: 90px;
}
